body{
    margin: 0 auto;
    font-family: lato, Arial, sans-serif;;
    background-color: #FDFAE9;
    color: #0f0f0f;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container {
    width: 1200px;

}

.header {
    text-align: center;
    padding: 10px;
    font-weight: 900;
    font-size: 4rem;
    font-family: Merriweather, 'Franklin Gothic Medium', Arial, sans-serif;
}

.side-by-side {
    display: flex;
    margin-top: 1em;
    gap: 1em;
    align-items: center;
}

.side-by-side div {
    width: 50%;
    font-size: large;
    
}

.flex-text {
    padding: 0.5em;;
}

.flex-image{
    border: #91C6CD solid 2px;
}

.side-by-side img {
    width: 50%;
    border-radius: 2em;
}
.link-div {
    display: flex;
    gap: 3em;
    justify-content: center;
    margin-top: 2em;
    min-width: 100%;
    align-items: center;

}

.button-link {
    background-color: #C82619;
    padding: 0.5em 1em;
    border-radius: 2em;
    text-decoration: none;
    color: #FDFAE9;
    transition: transform .2s; /* Animation */
}

.button-link:hover {
    background-color: #FDFAE9;
    color: #C82619;
    border: 2px solid #C82619;
    transform: scale(1.1);
}

.outline-button {
    padding: 0.5em 1em;
    border-radius: 2em;
    text-decoration: none;
    color: #C82619;
    border-width: 2px;
    border-color: #C82619;
    border-style: solid;
    transition: transform .2s; /* Animation */
}

.outline-button:hover {
    background-color: #C82619;
    color: #FDFAE9;
    transform: scale(1.1);
}

.header-image {
    background-size: cover;
    background-position: center;
    height: 400px; /* increase this if you want a taller image */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #C82619; 
    background-image: url("images/hero-ice-cream.jpg");
    border-radius: 2em;
}

.parallax {
    margin-top: 2em;
    position: relative;
    height: 80vh;
    background: url('images/choc-ice-cream.jpg') no-repeat center center/cover;
    background-attachment: fixed;
}

.parallax-content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
    height: 100%;
    font-weight: 900;
    color: #f1f1f1; /* add this for dark background */
}

.center-video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.list-border {
    border: 2px solid #91C6CD;
    border-radius: 2em;
    padding: 1em;
    height: 20em;
}


.flavours-list {
    margin-top: 2em;
    font-size: xx-large;
    list-style-image: url("images/ice-cream-solid.svg");   
    background: linear-gradient(135deg, #FFB6C1, #FFD700, #ADD8E6);
    padding: 2em 0;

}


.flavours-list ul {
    display: flex;
    gap: 4em;
    justify-content: center;
    align-items: center;
}

.rotated-image{
    transform: rotate(90deg) translateY(-50%);
    transform-origin: center;
}
